* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1180px;
  margin: auto;
}
